/*========== Link Fonts ==========*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;1,300&family=Josefin+Sans&family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,600&family=Poppins:wght@200;300;400&display=swap');

/*========== HTML ==========*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

/*========== Sidebar ==========*/
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #fcdb12;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open{
  width: 250px;
}

.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
  
.logo_name {
  color: black;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.1s ease;
}

.sidebar.open .logo-details .logo{
	opacity: 1;
}
.sidebar.open .logo-details .logo_name{
  opacity: 1;
  transition: all 7s ease;
}

#btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn{
  text-align: right;
}

.sidebar i{
  color:black;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.logo {
	width: 30px;
	line-height: 60px;
	margin-right: 10px;
	opacity: 0;
	transition: all 0.5s ease;
}

/*========== Sidebar List ==========*/
.nav-list{
	margin-top: 20px;
	height: 100%;
}

.sidebar li{
	position: relative;
	margin: 8px 0;
	list-style: none;
}

.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar input{
  font-size: 15px;
  color: black;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 15px;
  transition: all 0.5s ease;
  background: rgba(255, 255, 255, 0.507);
}

.sidebar.open input{
  padding: 0 20px 0 60px;
  width: 100%;
}

::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.507);
}

.sidebar .fa-magnifying-glass{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #fcdb12;
  color: black;
}

.sidebar.open .fa-magnifying-glass:hover{
  background: black;
  color: white;
}

.sidebar .fa-magnifying-glass:hover{
  background:black;
  color:white;
}

.sidebar li .link-list{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #fcdb12;
}

.sidebar li .link-list:hover{
  background: black;
}

.list_name{
  color: black;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li .link-list .list_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li .link-list:hover .list_name,
.sidebar li .link-list:hover i{
  transition: all 0.5s ease;
  color: white;
}

#users_gear {
  background-color: rgb(23, 23, 146);
  color: white;
  border-radius: 5px;
  padding: 10px;
}

#users_trash {
  background-color: rgb(165, 17, 17);
  color: white;
  border-radius: 5px;
  padding: 10px;
}
/*========== End Sidebar List ==========*/

/*========== Profile and Log Out ==========*/
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: black;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile{
  width: 250px;
}

.profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
  padding-bottom: 5px;
}

.name,
.desc{
  font-size: 15px;
  font-weight: 400;
  color: white;
  white-space: nowrap;
}

.profile .desc{
  font-size: 12px;
}

#log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: black;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open #log_out{
	width: 50px;
	background: none;
}

.link-profile {
	text-decoration: none;
}

.sidebar .fa-right-from-bracket {
  color: white;
}
/*========== End Profile and Log Out ==========*/
/*========== End Sidebar ==========*/

/*========== Welcome ==========*/
.welcome {
  position: absolute;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.sidebar.open ~ .welcome{
  left: 250px;
  width: 100%;
}

.welcome h1 {
  align-items: center;
  text-align: center;
  font-size: 40px;
}
/*========== End Welcome ==========*/

/*========== Dashboard ==========*/
.dashboard_content {
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.sidebar.open ~ .dashboard_content{
  left: 250px;
  width: 100%;
}

/*========== End Dashboard ==========*/

/*========== Users ==========*/
.title-user {
  position: relative;
  background: #E4E9F7;
  top: 0;
  left: 78px;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 50px 0;
  font-size: 25px;
}

.sidebar.open ~ .title-user {
  left: 250px;
  width: 100%;
}

.users_content {
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 50px 0;
}


.sidebar.open ~ .users_content{
  left: 250px;
  width: 100%;
}

.users_container {
  border-radius: 50px;
  background-color: rgba(148, 148, 148, 0.5);
  padding-top: 20px;
  left: 0;
  align-items: center;
  width: 95%;
  padding: 10px 40px;
  position: relative;
}

.users_searchcontent input {
  border: 2px;
  outline: none;
  text-align: center;
}

.users_searchcontent button {
  padding: 0 10px;
  margin-left: 5px;
  outline: none;
  border: 2px;
  background-color: black;
}

.users_searchcontent {
  display: flex;
  padding: 20px 0 40px 0;
}

.form-search {
  display: flex;
}

.users_searchcontent h2{
  padding: 0 30px;
}

.users_content table {
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgba(0, 0, 0, 0.80);
  padding-bottom: 50px;
  position: relative;
}

.users_content img {
  width: 100px;
}

.users_content th {
  padding: 1rem;
  text-align: center;
  background-color: #fcdb12;
  word-wrap: break-word;
}
.users_content td {
  padding: 1rem;
  background-color: rgb(240, 240, 240);
  word-wrap: break-word;
}

.pass {
  word-wrap: break-word;
  font-size: 10px;
}

.users_content i {
  padding: 0 10px;
}

.tambah-data {
  display: flex;
  justify-content: flex-end;
  flex-grow: 0.78;
}

.tambah-data a {
  background-color: #fcdb12;
  padding: 10px 10px;
  text-decoration: none;
}

.tambah-data i {
  color: black;
  font-weight: bold;
}
/*========== End Users ==========*/


/*========== Setting ==========*/
.setting-content {
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}

.sidebar.open ~ .setting-content{
  left: 250px;
  width: 100%;
}

.setting-content.collapse-in {
  display: flex
}
/*========== End Setting ==========*/

/*========== Responsive Breakpoint ==========*/
@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
  .welcome {
    left: 45px;
  }
}

@media screen and (max-width: 768px) {
  .welcome {
    left: 40px;
  }
}

@media screen and (max-width: 576px) {
  .welcome {
    left: 45px;
  }
  .welcome h1 {
    font-size: 20px;
  }
  .users_content {
    width: 100%;
  }
  .users_searchcontent h2 {
    font-size: 15px;
  }
  .users_searchcontent input {
    width: 100px;
    height: 30px;
  }
  .users_searchcontent button {
    width: 30px;
    height: 30px;
  }
  .users_content th,
  .users_content td {
    font-size: 10px;
  }
}
/*========== End Responsive Breakpoint ==========*/